body {
    background-color: rgb(7, 6, 6);
}

h1,
h2 {
    color: white;
    justify-content: center;
}
img {
     position: absolute;
     top: 0;
     right: 0;
     width: 500px;  /* Define a largura da imagem */
     height: 660px; /* Define a altura da imagem */
     
}